- # h1 Users#show
- p Find me in app/views/users/show.html.slim
- = @user.name
- # / - @user.each do |u|
- /   = u.name
.usershow
  .bd-content
    .content
      .columns
        .column.is-one-third
          .card
            .card-image
              figure.image.is-4by3
                img[src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image"]
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img[src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image"]
                .media-content
                  p.title.is-4
                    | ニックネーム
                  p.subtitle.is-6
                    | @TwitterID
              .content
                p
                  | 都道府県：東京　性別：男　自己紹介：テスト用
                a
                a[href="#"]
                  | GitHub（アイコン）
                a[href="#"]
                  | FB（アイコン）
                a[href="#"]
                  | ブログ（アイコン）
                a[href="#"]
                  | 参考サイト
                br
                time[datetime="2016-1-1"]
                  | 登録した日:2019/1/1
        .column.highlight-full
          pre
            |  基礎の基礎を理解しよう 開発中開発中開発中開発中開発中開発中開発中開発中 開発中開発中開発中開発中開発中開発中開発中開発中 開発中開発中開発中開発中開発中開発中開発中開発中 開発中開発中開発中開発中開発中開発中開発中開発中 開発中開発中開発中開発中開発中開発中開発中開発中 開発中開発中開発中開発中開発中開発中開発中開発中 開発中開発中開発中開発中開発中開発中開発中開発中 開発中開発中開発中開発中開発中開発中開発中開発中 開発中開発中開発中開発中開発中開発中開発中開発中 開発中開発中開発中開発中開発中開発中開発中開発中 開発中開発中開発中開発中開発中開発中開発中開発中 オブジェクト指向を使いこなそう 
      hr