<%# h1 Users#show
p Find me in app/views/users/show.html.slim
= @user.name %>
<%# / - @user.each do |u|
/   = u.name %>
<div class="tes">
<div class="bd-content">
  <div class="content">
  <div class="columns">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">ニックネーム</p>
              <p class="subtitle is-6">@TwitterID</p>
            </div>
          </div>
          <div class="content"><p>都道府県：東京　性別：男　自己紹介：テスト用</p>
            <a></a>
            <a href="#">GitHub（アイコン）</a>
            <a href="#">FB（アイコン）</a>
            <a href="#">ブログ（アイコン）</a>
            <a href="#"> 参考サイト</a>
            <br>
            <time datetime="2016-1-1">登録した日:2019/1/1</time>
          </div>
        </div>
      </div>
    </div>
    <div class="column highlight-full">
      <figure class="highlight">
        <pre>未経験者〜テックスクール卒業生に、Railsエンジニアへの正しい道を示します。

✅ 未経験者が本当に勉強するべきことが何かを教えます。
✅ プログラミングの正しい知識を正しく理解させます。
✅ RailsでWEBサービスを作る際のサポートをします。

テックスクール卒業生でも正しい理解をしている人は多くありません。
またエンジニアとして会社に入るための最低限を満たしてる人も多くありません。

これまでトータルで40人くらい教えてきました。

書けるけど理解ができてない
考え方が身についてない
次に何をすればいいかわからない
といった悩みが多かったです。
それに対して僕が伝えることが、経験的に、
４つくらいに確立されてきました！
それをまんまプランにします。
Railsが前提になっています。

基礎の基礎を理解しよう
モデル数10くらいの簡単なアプリをプロレベルで作ろう
モデル数20くらいの普通なアプリをプロレベルで作ろう
オブジェクト指向を使いこなそう
まず【0. 初回相談】をお申し込みください🙇‍♂️
そこで上の1~4でどれやろうか？を決めます！
人によっては1~4に当てはまらない場合もあるので、
その場合は個別対応します！

</pre>
      </figure>
    </div>
  </div>
  <hr>
  
  </div>
</div>
</div>