.title プロジェクト一覧画面
.section
  .box
    a href="#" 
      .content.is-large【初心者歓迎】RailsでWebアプリケーションを作ろう！
      .tags.has-addons
        span.tag.is-dark.is-small 言語
        span.tag.is-info.is-small Ruby
      .field.is-grouped.is-grouped-multiline
        .control
          .tags.has-addons
            span.tag.is-small タグ
            span.tag.is-warning.is-small Ruby
        .control
          .tags.has-addons
            span.tag.is-small タグ
            span.tag.is-warning.is-small Rails
        .control
          .tags.has-addons
            span.tag.is-small タグ
            span.tag.is-warning.is-small Beginner
      .content.is-medium 募集概要：対象レベルは、ProgateでRails Tutorialを完走していること。
      .content.is-small
        span ★Star 999 
        span 👥開発メンバ 999
      u VIEW PROJECT
  .box
    a href="#" 
      .content.is-large【脆弱性診断入門】やられサイトを作る！！！
      .tags.has-addons
        span.tag.is-dark.is-small 言語
        span.tag.is-info.is-small JavaScript
      .content.is-small
        span ★Star 999 
        span 👥開発メンバ 999
      u VIEW PROJECT