/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.tes {
  margin-top: 26px;
}

.my-navbar-menu {
  display: flex;
  justify-content: space-between;
  background-color: #293742;
}
img {
  margin-right: 12px;
  border-radius: 0.2666666667em;
}
.Avatar {
  width: 2.6em;
  height: 1.6em;
  border-radius: 0.2666666667em;
}
a.button.is-left {
  margin-right: 17px;
}
.navbar-log {
  background-color: cornflowerblue;
  margin-left: -3px;
  width: 160px;
}
