/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tes {
  margin-top: 26px;
}

body {
  background-color: #f9fbfe;
  max-width: 1440px !important;
}
header {
  width: 100%;
}

#main {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
  padding: 10px 10px;
}

.container-wrapper {
  width: 100%;
}

.my-navbar-menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 1px;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
img {
  /* margin-right: 12px; */
  border-radius: 0.2666666667em;
}
.Avatar {
  width: 2.6em;
  height: 1.6em;
  border-radius: 0.2666666667em;
}
.Avatar2 {
  width: 100%;
  height: 100%;
  border-radius: 0.2666666667em;
}
a.button.is-primary {
  height: 30px;
}
a.a.button.is-left {
  height: 30px;
}
a.button.is-left {
  margin-right: 16px;
}
.navbar-log {
  /* background-color: cornflowerblue; */
  /* margin-left: -3px; */
  margin-left: 181px;
  padding-top: 13px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.github {
  background-color: #00d1b2;
  margin-right: 10px;
}
.fab2 {
  padding-left: 8px;
  padding-right: 8px;
  /* height: 0px; */
  font-size: 15px !important;
}

.flash {
  background-color: #293742;
  color: white;
  opacity: 0.5;
  padding: 5px;
  text-align: center;
}

.footer {
  border-top: 1px solid #eee;
  padding: 20px !important;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  margin-top: auto;
}

.footer a {
  color: #4a4a4a;
}

.item1 {
  flex-grow: 1;
  margin-top: -10px;
}

.item1 li:first-child {
  font-size: 20px;
  font-weight: bold;
}

.item1 li:nth-child(2) {
  font-size: 13px;
}

.item2 {
  flex-grow: 1;
}

.item3 {
  flex-grow: 1;
}

.item4 {
  flex-grow: 1;
  text-align: center;
  position: relative;
  top: 10px;
}

.fab {
  font-size: 30px;
}

.connpass {
  font-size: 10px;
  position: relative;
  top: 3px;
}
