
/*=========================
pc max 1180
ipad max 768
iphone max 480
===========================*/

.show-wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto !important;
}

.show-content-right-git-description {
    padding: 12px 0 40px 0;
}

/*=========================
        1.show-content-right-head
===========================*/

.show-content-right-head > h1 {
    padding-bottom: 15px;
}

/*=========================
        2.show-content-right-git-info
===========================*/


/*=========================
        3.show-content-right-git-topics
===========================*/



/*=========================
        4.show-content-right-git-description
===========================*/



/*=========================
        5.show-content-5
===========================*/


/*=========================
        6.show-comment
===========================*/

.show-comment {
    width: 100%;
}

.show-comment {
    widows: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
