/*=========================
        0.for-all
===========================*/

.my-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.my-fa {
  font-size: 35px !important;
}

.my-small-icon {
  width: 15px;
  height: 15px;
}
i.fab.fa-github-square.my-fa {
  color: #000;
}
.my-small-fa {
  font-size: 15px !important;
  marigno-bottom: 9px !important;
}

/*=========================
        1.show-delete
===========================*/

#show-delete {
  height: 50px;
}
/* add takahashi */
.post-delete-stopped {
  display: -webkit-box;
  justify-content: flex-end;
}
.post-delete-box {
  display: flex;
  justify-content: flex-end;
}
section#show-stopped {
  font-size: large;
  margin-top: 10px;
  color: red;
  font-weight: bold;
  padding-right: 70%;
}
/* add takahashi 終わり */
.post-delete-title {
  font-size: 18px;
  text-align: right;
  margin-top: 10px;
  display: inline-block;
  color: #ef4d4d;
}

/*=========================
        2.show-post
===========================*/

#show-post {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*=========================
        2-1.show-post-itme-title
===========================*/

.show-post-item-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.show-post-title {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.show-post-right {
  width: 120px;
  display: flex;
  justify-content: flex-end;
}

.bosyu-type {
  padding: 5px 9px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
}

.is-sanity {
  color: #f4b400;
  background-color: rgba(244, 180, 0, 0.15);
}

.is-slack {
  color: #fff;
  background-color: #f4b400;
}

/*=========================
        2-2.show-post-itme
===========================*/

.show-post-item {
  display: flex;
  margin-bottom: 20px;
}

.git-text {
  display: inline-block;
  margin-top: 11px;
}

.git-item {
  display: flex;
}

.git-item + .git-item {
  margin-left: 20px;
}

.git-item-language {
  margin-top: 5px;
}

.git-language-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #701516;
}

.git-small-text {
  font-size: 12px;
  margin-left: 5px;
}

.git-item-star > .git-small-text {
  margin-top: 5px;
}

.git-tag {
  font-size: 12px;
  padding: 3px 5px;
  color: #00d1b2;
  background-color: rgba(0, 209, 178, 0.1);
  border-radius: 5px;
}

.git-tag + .git-tag {
  margin-left: 5px;
}

.show-owner-items {
  height: 30px;
  display: flex;
}

.show-owner-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.show-owner-item {
  padding: 5px 0 0 15px;
}

.show-owner-name {
  font-size: 18px;
  display: inline-block;
}

/*=========================
        2-3.show-post-description
===========================*/

.show-post-description {
  margin-top: 40px;
}

.show-post-description-title {
  font-size: 20px;
  font-weight: bold;
}

.show-description-text {
  margin: 0 5px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-top: 0.5px solid #000;
}

/*=========================
        3.show-comment
===========================*/

#show-comment {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#show-comment .show-comment {
  padding: 0.75rem;
}

#show-comment .title {
  font-size: 1.5rem;
  border-bottom: 1px solid;
}

#show-comment .input {
  max-width: 88%;
}

#show-comment .button {
  max-width: 9%;
  margin-left: 3%;
}

#show-comment li {
  display: block;
  border-top: 1px solid;
  margin-bottom: 30px;
}

#show-comment .message {
  background-color: initial;
  margin-bottom: initial;
  margin-top: 10px;
}

#show-comment .message-header {
  background-color: #f9fbfe;
  color: initial;
  padding: 0.50em 0.75em;
  border: solid 1px #cdc8c8;
  border-bottom: 0px;
}

#show-comment .message-header a {
  color: red;
}

#show-comment .show-owner-img {
  margin: 10px 0px 5px 5px;
}

#show-comment .message-body {
  padding: 0.50em 0.75em;
  border: solid 1px #cdc8c8;
}

#show-comment .message-time {
  font-size: 0.75rem;
  float: right;
}

/*=========================
        4.show-buttons
===========================*/

#show-button {
  position: fixed;
  bottom: 150px;
  width: 100%;
  max-width: 980px;
}

.show-button-box {
  display: flex;
  justify-content: flex-end;
}

.show-button {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.post-end-button {
  width: 160px;
  box-shadow: inset -2px 2px 4px rgba(255, 255, 255, 0.5),
    -2px 2px 4px rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border-bottom: solid 1px #b5b5b5;
  background-color: #000;
}

.show-button > p {
  vertical-align: middle;
  line-height: 80px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fefefe;
}

.my-shadow {
  box-shadow: inset -2px 2px 4px rgba(255, 255, 255, 0.5),
    -2px 2px 4px rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border-bottom: solid 1px #b5b5b5;
}

.my-shadow:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
    0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.show-button-join {
  background-color: #00d1b2;
}

/* 新規投稿用テキストエリア */
.textarea:not([rows]) {
  min-height: 203px !important;
}
